/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../css/fonts/montserrat-v14-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../css/fonts/montserrat-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../css/fonts/montserrat-v14-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../css/fonts/montserrat-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../css/fonts/montserrat-v14-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../css/fonts/montserrat-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../css/fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../css/fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* atomic-age-regular - latin */
@font-face {
  font-family: 'Atomic Age';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/atomic-age-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Atomic Age Regular'), local('AtomicAge-Regular'),
    url('../css/fonts/atomic-age-v12-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../css/fonts/atomic-age-v12-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../css/fonts/atomic-age-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../css/fonts/atomic-age-v12-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../css/fonts/atomic-age-v12-latin-regular.svg#AtomicAge')
      format('svg'); /* Legacy iOS */
}
/* amita-regular - latin */
@font-face {
  font-family: 'Amita';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/amita-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amita Regular'), local('Amita-Regular'),
    url('../css/fonts/amita-v5-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../css/fonts/amita-v5-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../css/fonts/amita-v5-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../css/fonts/amita-v5-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../css/fonts/amita-v5-latin-regular.svg#Amita') format('svg'); /* Legacy iOS */
}
/* amethysta-regular - latin */
@font-face {
  font-family: 'Amethysta';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/amethysta-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amethysta Regular'), local('Amethysta-Regular'),
    url('../css/fonts/amethysta-v8-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../css/fonts/amethysta-v8-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../css/fonts/amethysta-v8-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../css/fonts/amethysta-v8-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../css/fonts/amethysta-v8-latin-regular.svg#Amethysta') format('svg'); /* Legacy iOS */
}
:root {
  --main-font: 'Montserrat';
  --secondary-font: 'Amita';
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  outline: 0px;
}
html {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
body {
  font-family: var(--main-font);
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 940px;
  margin: 0px auto;
}
/*HEADER*/
.header {
  margin: 54px 0px 54px 0px;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  line-height: 40.99px;
  text-align: left;
  font-size: 26px;
  font-family: var(--secondary-font);
  color: rgb(254, 209, 54);
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 485px;
}
.nav-list-link {
  text-transform: uppercase;
  line-height: 40.99px;
  font-size: 14px;
  color: rgb(81, 81, 81);
  font-weight: bold;
}
.nav-list-link:hover {
  color: rgb(254, 209, 54);
}
/*SERVICES*/
.services {
  padding-bottom: 80px;
}
.title {
  text-align: center;
  margin: 0px 0px 78px 0px;
}
.title-logo {
  font-size: 40px;
  color: rgb(34, 34, 34);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 75px;
}
.sub-title {
  font-size: 16px;
  color: rgb(119, 119, 119);
  font-style: italic;
  font-family: 'Amita';
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  width: 280px;
  text-align: center;
}
.card-title {
  font-size: 18px;
  line-height: 75px;
}
.card-discription {
  font-size: 14px;
  color: rgb(119, 119, 119);
  font-family: 'Amethysta';
}
.card::before {
  display: block;
  content: '';
  width: 72px;
  height: 71px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.card:first-child::before {
  background-image: url(../img/Icon-Basket.png);
}
.card:nth-child(2)::before {
  background-image: url(../img/Icon-Laptop.png);
}
.card:last-child::before {
  background-image: url(../img/Icon-Locked.png);
}
/*CONTACT-US*/
.contact-us {
  background-color: rgb(34, 34, 34);
  background-image: url(../img/homework-07_03.png);
  background-repeat: no-repeat;
  background-position: right;
  right: 0;
  bottom: 0;
}
.contact-us-title-logo {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 75px;
  padding-top: 70px;
}
.contact-us-sub-title {
  font-family: 'Amethysta';
  font-size: 16px;
  color: rgb(146, 145, 145);
}
.contact-form {
  width: 940px;
  text-align: center;
  margin: 0 auto;
}
.contact-form-container {
  display: flex;
  justify-content: space-between;
}
.contact-form-list {
  list-style: none;
  display: block;
}
.contact-form-item {
  margin-bottom: 28px;
  height: 50px;
}
.contact-form-input {
  width: 456px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  margin-bottom: 28px;
}
.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 456px;
  justify-content: space-between;
}
.contact-form-item:last-child {
  margin-bottom: 0px;
}
.contact-form-input::placeholder {
  text-transform: uppercase;
  color: rgb(187, 187, 187);
  padding: 20px;
}
.contact-form-message:required:focus:valid,
.contact-form-input:required:focus:valid {
  border-color: green;
  border-width: 2px;
}
.contact-form-message:required:focus:invalid,
.contact-form-input:required:focus:invalid {
  border-color: red;
  border-width: 2px;
}
.contact-form-message {
  flex-basis: 456px;
  resize: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
}
.contact-form-message::placeholder {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(187, 187, 187);
  padding: 20px;
}
.form-button {
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  width: 240px;
  height: 66px;
  text-transform: uppercase;
  border-style: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin: 28px 0px 58px 0px;
  display: inline-block;
}
